%table.month
  %thead
    %tr
      - @calendar.day_names.each do |name|
        %th= name
      %th distance
  %tbody
    - @calendar.weeks.each_with_index do |week, i|
      %tr
        - week.map do |day|
          - date = Date.parse("#{day.month}-#{day.number}")
          %td{class: ('today' if day.today?)}
            = day.number
            - if @days[date]
              - d_m = @days[date].inject(0.0) do |n, run|
                %br
                = run.display
                - n + run.distance
              %br
              = "Day total: #{d_m.round(2)}"
            - else
              - 0
        %td
          = @week_miles[i]
%br
= @month_miles

