- act_ids = @user.activity_ids(@run_count || 20, 1)
- user_runs = Hash[@user.runs.map{ |r| [r.run_id, r] }]
/ %a{href: '/retrieve' } Retrieve last run
%table.runs
  %thead
    %td Run ID
    %td
    %td Time
    %td distance
    %td pace_secs
    %td avg_hr
    %td dur_secs
    %td temp
    %td temp_min
    %td temp_max
    %td hum
    - @user.custom.each do |c|
      %td= c
  %tbody
    - act_ids.each do |run_id|
      %tr
        %td
          %a{href: "/run/#{run_id}"}= run_id
        - if r = user_runs[run_id.to_s]
          %td= r.timestamp.split(', ').first
          %td= r.timestamp.split(', ').last
          %td= r.distance
          %td= r.pace
          %td= r.avg_hr
          %td= r.duration
          - if r.condition.pws.empty?
            %td{colspan: 4 + @user.custom.length}
              %a.get_weather{href: "/run/#{r.run_id}/weather"} Get weather data
          - else
            %td= r.condition.temp
            %td= r.condition.temp_min
            %td= r.condition.temp_max
            %td= r.condition.hum
            - r.condition.custom.each do |k,v|
              %td= v
        - else
          %td
          %td
            %a.get_run{href: "/run/#{run_id}" } Get run data
%br
%br
%br
%br
%a{href: '/logout' } logout
