%td
  %a{href: "/run/#{@r.run_id}"}= @r.run_id
%td= @r.timestamp.split(', ').first
/ # %td= @r.time_utc.utc
/ %td= @r.target.time.zone
%td= @r.time
/ # %td= ActiveSupport::TimeWithZone.new(@r.time_utc.utc, ActiveSupport::TimeZone.new(@r.time_zone))
%td= @r.distance
%td= @r.pace
%td= @r.avg_hr
%td= @r.duration
- if @r.condition.exist?
  %td= @r.condition.temp
  %td= @r.condition.temp_min
  %td= @r.condition.temp_max
  %td= @r.condition.hum
  - @r.condition.custom.each do |k,v|
    %td= v
- else
  %td{colspan: 4 + @user.custom.length}
    %a.get{href: "/weather/#{@r.run_id}"} Get weather data
